footer
  .container.text-center
    p.pull-left © 2019 Thomas Holmes. All Rights Reserved
    a.github-button.pull-right(href="https://github.com/RichTeaMan/Polytris", data-icon="octicon-star", data-show-count="true", aria-label="Polytris on GitHub") Star
