body {
    font-family: Arial, Helvetica, sans-serif;
}
.game_container {
    border: 2px solid black;
    display: inline-block;
}
.high_score_container {
    border: 2px solid black;
    display: inline-block;
    padding: 2px;
}
.high_score_container > table {
    display: inline-block;
}
td {
    padding-right: 10px;
}
.info_container {
    border: 2px solid black;
    display: inline-block;
    padding: 2px;
}
.hidden {
    display: none;
}
div#game_links a {
    padding-right: 10px;
}