extends layout

block content
  div
    p Move pieces with the arrow keys. Rotate with Z and X. Pause with the P key.
  div(id='status')
  div(id='game_row')
    div(class='game_container main_container p_container')
      canvas(id='gtx', width='350', height='630')
    div(class='info_container p_container')
      div(class='info_panel')
        p Score:
        p(id='score', class='right-align')
      div(class='info_panel')
        p Level:
        p(id='level', class='right-align')
      div(class='info_panel')
        p Lines:
        p(id='lines_cleared', class='right-align')
      div(class='game_container preview_container')
        canvas(id='preview_gtx', width='140', height='140')
    div(class='text_container p_container')
      div
        p Polytris is a version of Tetris that has polyominoes made of n sized blocks.
      div(class='emphasis')
        p
          a(href='preview.html') View all pieces
          | &nbsp;
          a(href='highscores.html') View high scores
      div(id='game_links')
  script(type='module', src='/js/gameBundle.js')
