body {
    background: url(images/background.png);
    background-repeat: repeat;
    font-family: PressStart2P, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

@font-face {
    font-family: 'PressStart2P';
    src: url('fonts/PressStart2P.ttf')  format('truetype');
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

#main {
    margin-left:100px;
}

#game_row {
    height: 85%;
    width: 100%;
}
.small_text {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    float: left;
    height: 100%;
}
.text_container {
    width: 40%;
    margin: 10px;
}
.preview_page_container {
    border: 2px solid black;
    padding-bottom: 2px;
    float: left;
    background: white;
}
.game_container {
    border: 2px solid black;
    padding-bottom: 2px;
    background: white;
}
.game_container canvas {
    padding-top: 2px;
}
.high_score_container {
    border: 2px solid black;
    padding: 2px;
}
.high_score_container > table {
    display: inline-block;
}
td {
    padding-right: 10px;
    text-align: right;
}
.info_container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-left: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    background: white;
    font-size: 16px;
}
.preview_container {
    margin-top: auto;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 15px;
}
.preview_container canvas {
    margin: 2px;
}
.hidden {
    display: none;
}
div#game_links a {
    padding-right: 10px;
}

.right-align {
    text-align: right;
}

.info_panel {
    border: 2px solid black;
    border-radius: 15px;
    margin: 4px;
}